@model FrontEnd.Viewmodels.ImportViewModel
<br />
@if (Model.success != null)
{
    <div class="alert alert-success">
        <strong>Succes!</strong> @Model.success.Inserted cursussen geimporteerd. @Model.duplicates zijn overgeslagen omdat deze dubbel zijn.
    </div>
}
else if (Model.validationError != null)
{
    <div class="alert alert-danger">
        <strong>Fout!</strong> Bestand valideert niet.<br />
        @Model.validationError.ErrorCode: @Model.validationError.ErrorMessage
    </div>
}
else if (Model.failure != null)
{
    <div class="alert alert-danger">
        <strong>Fout!</strong> @Model.failure.ErrorMessage
    </div>
}
<h1>Cursusplanning importeren</h1>
<form class="form-horizontal" method="post" asp-action="Import" asp-controller="Cursus" enctype="multipart/form-data">

    <div class="form-group">
        <label for="startdatum">Begindatum</label>
        <input type="date" class="form-control" name="startdatum" id="startdatum">
    </div>
    <div class="form-group">
        <label for="eindatum">Eindatum</label>
        <input type="date" class="form-control" name="einddatum" id="einddatum">
    </div>
    <div class="form-group">
        <label for="files" class="btn">Selecteer bestand</label>
        <input id="files" style="visibility:hidden;" accept=".txt" name="data" type="file">
    </div>
    <button type="submit">Importeren</button>
</form>